feedback.py
.venv
.git
FirewallRules.csv
__pycache__
all_skip
blah
blob-quickstart
fw_rule_log
get-identities-from-profile-api.ps1
names.txt
old_data
remove.txt
cratch
skip
sorted.txt
unique_skip.txt
unsorted
./disks.csv
./app_config_dev.json
./blah
./allow.txt
./names.txt
./FirewallRules.csv
./unique_skip.txt
./sorted.txt
./unsorted
./old_data
./old_data/disks.csv
./old_data/address_space.txt
./old_data/linux_vms.csv
./old_data/requirements.txt
./old_data/dns_servers.txt
./old_data/dnsservers.txt
./old_data/ipam.csv
./old_data/output.txt
./skip
./scratch
./blob-quickstart
./all_skip
./app_config_stage.json
./get-identities-from-profile-api.ps1
./deny.txt
./fw_rule_log
./app_config_live.json
./remove.txt
./localassets.json
